#contactsContainer{
    width:  400px;
    background-color:aliceblue;
    padding: 30px;
}

input
{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}


ul,li{
    margin:0;
    padding: 0;
    list-style-type: square;
}


.list{
   margin: 15px 0;
}

.list >li{
    background-color:rgb(253, 223, 246);
    padding: 5px;
    margin-bottom: 4px;
}

.numbers{
    display: flex;
    opacity: 0.4;
}